<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-expansion-panel [expanded]="true">
            <!-- FILTERS SELECTION  -->
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Visualization filters</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="col-12" id="filterDiv">
                <kypo-filter
                    [initialTrainingInstance]="trainingInstanceId"
                    [trainingInstances]="trainingInstanceStatistics$ | async"
                    (detailView)="detailView($event)"
                    (filterChange)="filterChange($event)">
                </kypo-filter>
            </div>
        </mat-expansion-panel>
        <mat-sidenav-content class="dashboard-container">
            <div class="visualization-container"
                 *ngIf="(filteredTrainingInstanceStatistics$ | async) as filteredTrainingInstanceStatistics">
                <div class="col-6" id="combinedDiv">
                    <kypo-combined-diagram
                        [trainingInstanceStatistics]="filteredTrainingInstanceStatistics"
                        [highlightedInstances]="highlightedTrainingInstance$ | async"
                        (highlightInstance)="highlightChange($event)"
                    ></kypo-combined-diagram>
                </div>

                <div class="col-6" id="scatterplotDiv">
                    <kypo-scatterplot
                        [trainingInstanceStatistics]="filteredTrainingInstanceStatistics"
                        [highlightedInstances]="highlightedTrainingInstance$ | async"
                        [highlightedParticipants]="highlightedParticipants$ | async"
                        (highlightInstance)="highlightChange($event)"
                    >
                    </kypo-scatterplot>
                </div>

                <div class="col-6" id="barchartDiv">
                    <kypo-barchart
                        [trainingInstanceStatistics]="filteredTrainingInstanceStatistics"
                        [highlightedInstances]="highlightedTrainingInstance$ | async"
                        (highlightInstance)="highlightChange($event)"
                        (selectedLevelId)="selectedLevel($event)"
                    ></kypo-barchart>
                </div>

                <div class="col-6" id="bubblechartDiv">
                    <kypo-bubblechart
                        [trainingInstanceStatistics]="filteredTrainingInstanceStatistics"
                        [selectedLevel]="selectedLevel$ | async"
                        (highlightInstances)="highlightChange($event)"
                        (highlightParticipants)="highlightParticipants($event)"
                    ></kypo-bubblechart>
                </div>

                <div class="col-6" id="clusteringDiv">
                    <kypo-viz-statistical-clustering-wrapper
                        [trainingInstanceStatistics]="filteredTrainingInstanceStatistics"
                        [selectedLevel]="trainingInstanceId"
                    ></kypo-viz-statistical-clustering-wrapper>
                </div>

                <div class="col-6" id="scatterClusterDiv">
                    <kypo-scatter-clusters-wrapper
                        [trainingDefinitionId]="trainingDefinitionId"
                        [trainingInstanceStatistics]="filteredTrainingInstanceStatistics"
                        [level]="selectedLevel$ | async"
                    ></kypo-scatter-clusters-wrapper>
                </div>

                <div class="col-12" id="radarchartDiv">
                    <kypo-radar-chart-wrapper
                        [trainingDefinitionId]="trainingDefinitionId"
                        [trainingInstanceStatistics]="filteredTrainingInstanceStatistics"
                        [level]="selectedLevel$ | async"
                    ></kypo-radar-chart-wrapper>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-content>
</mat-sidenav-container>
